# Dependencies
node_modules

# Build output
dist
coverage

# Logs
*.log
yarn-debug.log*
yarn-error.log*

# Environment files
*.local

# OS files
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
